<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<h2>Lista de Productos</h2>
<table>
    <tr>
        <th>ID Producto</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Cantidad</th>
        <th>Precio</th>
    </tr>

</table>

<script>

</script>
</body>
</html>
